.fightarea{
  display: flex;
  gap: 20px;
}

#char,
#monster {
 flex: 1;
}

.attackButton{
    color: rgb(18, 18, 18);
    background-color: white;
    border-color: #676767;
    border-radius: 5px;
    width: 15%;
    font-weight: 600;
}
.attackButton:hover{
  background-color: rgb(117, 95, 227);
  color: white;
}

.lifebar {
    height: 15px;
    border-radius: 5px;
    border: 1px solid #333;
    display: flex;
    text-align: center;
  }
.lifebar .bar {
    height: inherit;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: red;
  }
  
.log{
    border: 1px dotted #181818;
    height: 750px;
    color: #353535;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}
.log li{
  margin-top: 20px;
}
.name{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}